{{#each labels}}
  <div class="panel sc-panel">
      <div class="sc-card-header">
          <div class="sc-card-details">
              <div class="col-md-12">
                  <h2 class="card-heading">{{text}}</h2>
                  <!--div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentOf insights.conversions ../funnel.insights.conversions}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentOf insights.conversions ../funnel.insights.conversions}}%">
                      </div>
                  </div-->
              </div>
              <div class="col-md-3">
                  <div class="sc-card-label">
                      {{ ../funnel.conversion_name}}s
                  </div>
                  <div class="sc-card-value">
                      {{formatNumber  insights.conversions }} <small>({{percentOf insights.conversions ../funnel.insights.conversions }}%) </small>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sc-card-label">
                      Cost Per {{ ../funnel.conversion_name}}
                  </div>
                  <div class="sc-card-value">
                      {{ costPer insights.conversions insights.spend }}
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sc-card-label">
                      Reach
                  </div>
                  <div class="sc-card-value">
                      {{ formatNumber insights.reach }}
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sc-card-label">
                      {{ ../funnel.conversion_name }} Rate
                  </div>
                  <div class="sc-card-value">
                      {{ percentOf insights.conversions insights.impressions 3 }}%
                  </div>
              </div>
              <!--div class="col-md-3">
                  <div class="sc-card-label">
                      ROAS
                  </div>
                  <div class="sc-card-value">
                      {{ roas insights.spend insights.conversion_revenue }}
                  </div>
              </div-->
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
{{/each}}
